<?php
return array(
    
    // Assets
    'assets' => array(
        'css'   => array(
            'path'         => '/css',
            'stylesheets'  => array(
//                'bootstrap'    => array(
//                    'name'     => 'bootstrap.min.css',
//                ),
//                'font.awesome'    => array(
//                    'name'     => 'font-awesome.min.css',
//                ),
//                'main'         => array(
//                    'name'     => 'main.min.css',
//                ),
//                'print'        => array(
//                    'name'     => 'print.min.css',
//                  'media'    => 'print'
//                )
            )
        ),
        'js'    => array(
            'path'      => '/js',
            'inline'    => array(
//                'bootstrap' => array(
//                    'name' => 'bootstrap.min.js',
//                    'priority' => 5,
//                ),
//                'jquery' => array(
//                    'name' => 'jquery.min.js',
//                    'priority' => 10,
//                ),
//                'main' => array(
//                    'name' => 'main.min.js',
//                ),
            ),
            'head'      => array(
//                'respond' => array(
//                    'name'     => 'respond.min.js',
//                    'options'  => array('conditional' => 'lt IE 9')
//                ),
//                'html5shiv' => array(
//                    'name'     => 'html5shiv.min.js',
//                    'options'  => array('conditional' => 'lt IE 9')
//                ),
            )
        )
    ),
    
);
